.flat {
    height: 100%;
    width: 100%;
    margin: 10px;
}

body {
    background: lightgoldenrodyellow;
}

.navbar {
    background-color: teal;
}

.gallery-box {
    background: teal;
    position: relative;
    padding: 20px;
}

.title {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-bottom: 50%;
    text-align: center;
    z-index: 1;
    margin: auto;
}
